@import "custom.scss";
@import "~bootstrap/scss/bootstrap";

h1 {
    color: $light-green;
}

h2 {
    color: $mustard;
}

h5 {
    color: $mustard;
}

p {
    color:white;
}

body {
    background-color: $dark-green;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: $darker-green;
    padding: 1rem;
    border: 1px solid $medium-green;
    margin: 3rem;
    display: inline-block;

}
.btn-primary {
    background-color: $green;
    color: $darker-green;
    border: 1px solid $darker-green;
}

.list-group-item {
    background-color: $green;
}

.list-group {
    border-radius: 0.5rem;
}

.navbar {
    background-color: $medium-green;
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;

    a {
        color: $mustard;
        font-size: 2rem;
        font-weight: bold;
    }

    .btn {
        background-color: $green;
        width: 9rem;
        height: 3rem;
        font-weight: 900;
    }

    .btn:hover {
        background-color: $light-green;
    }

    .logo {
        height: 2.5rem;
        height: 2.5rem;
        background: $mustard;
    }
}