<header>
<nav class="navbar navbar-expand-l">
  <a class="navbar-brand" href="/">
    Wild Séries
  </a>
  <form class="form-inline">
    {% if app.user %}
    <a href="{{ path('app_logout') }}"><button class="btn" type="button">SE DÉCONNECTER</button></a>
    {% else %}
    <a href="/login"><button class="btn" type="button">CONNEXION</button></a>
    {% endif %}
  </form>
</nav>
</header>
