<header>
<nav class="navbar navbar-expand-l">
  <a class="navbar-brand" href="#">
    Wild Séries
  </a>
  <form class="form-inline">
    <button class="btn" type="button">CONNEXION</button>
  </form>
</nav>
</header>