{% extends "base.html.twig" %}

{% block body %}

<h1>Season {{ season.number }} of {{ program.title }}</h1><br>

<h2>{{ season.description }}</h2>
{% for episode.episodes.season in seasons %}

{% endfor %}

{% endblock %}